@media (max-width:360px) {
  .hidden-xxs {
    display: none !important
  }
}

body.embedded #footer {
  background-color: #f5f5f5;
}

.navbar-header a img,
#footer.embedded a img {
  float: left;
  margin: -3px 5px 0 2px;
  padding: 3px 3px;
  border-radius: 50% 50%;
  border: 1px solid #036;
  box-shadow: inset 0 0 3px #036;
}

/* rubik-dirt-latin-400-normal*/
@font-face {
  font-family: 'Rubik Dirt';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/rubik-dirt-latin-400-normal.woff2') format('woff2'), url('../fonts/rubik-dirt-latin-400-normal.woff') format('woff');
}

#clarinmore {
  padding: 4px 4px;
  height: 32px;
  width: 32px;
}

#clarinmore div {
  width: 6px;
  height: 6px;
  float: left;
  margin: 1px 1px;
  padding: 1px 1px;
  background-color: #036;
  border-radius: 50% 50%;
  /*border: 1px solid #003f6e;*/
  box-shadow: inset 0 0 1px white;
}

.aligncenter {
  text-align: center;
}

.muted {
  font-weight: 300;
  color: #888;
}

.unselectable {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.top-gap {
  margin-top: 64px;
}

.inline {
  display: inline-block;
}

.link {
  cursor: pointer;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.btn-flat {
  color: #333;
  margin: 2px;
  background-color: #fff;
  border-color: transparent;
}

.btn-flat:hover {
  color: #333;
  margin: 2px;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/*** alerts: error, info***/

.alertDiv {
  position: relative;
  height: 10px;
  text-align: center;
}

.alertRow {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-align: center;
}

.alertRow div * {
  color: #fff;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  white-space: pre-line;
}

.alertRow .errorMessage {
  background-color: #a20;
  margin: 2px 0;
}

.alertRow .infoMessage {
  background-color: #407d00;
  margin: 2px 0;
}

/*** SEARCH ***/

.biglabel {
  font-size: 16px;
}

button.search {
  /* width: 64px; */
  /* min-width:64px; */
}

input[type="text"].search {
  /* width: 64px; */
}

.search::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #aaa;
}

.search:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #aaa;
  opacity: 1;
}

.search::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #aaa;
  opacity: 1;
}

.search:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #aaa;
}


/*** input ***/

.nobkg {
  background-color: transparent;
  border: none;
}

/* large spinner */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin-left: 2px;
  font-size: 24px;
}


input,
select,
textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #ccc;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
  box-shadow: 0 0 10px rgb(179, 216, 253) !important;
  outline: none !important;
}

input.input {
  background-color: #fff;

  display: inline-block;
  padding: 6px 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: right;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
}

p.input {
  background-color: #fff;

  display: inline-block;
  padding: 6px 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/*** resource selection panel ***/

div.resource-container {
  margin: 5px 0;
  border-bottom: 1px solid #eee;
}

div.resourceview-institutions>div.resourceview-resources:hover,
div.resourceview-languages>div.resourceview-resources:hover,
div.resource-container:hover {
  box-shadow: 0 0 10px rgb(179, 216, 253) !important;
}

div.resource-container.dimmed {
  /* font-weight: 300; */
  /* opacity: 0.8; */
}

div.resourceview-resources>h3 {
  padding-top: 0.5em;
  padding-left: 0.5em;
}

div.resourceview-resources>div.expansion-handle {
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}

div.modal-dialog input {
  border-radius: 6px;
}

div.resource h3 {
  margin: 0px 0 5px 0;
  font-size: 18px;
}

div.resource p {
  margin: 0;
}

div.resource button {
  /* border: none; */
}

div.resource .glyphicon {
  font-size: 12px;
  color: #B27000;

  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.resource button .glyphicon.glyphicon-check {
  font-size: 20px;
  color: #B27000;
}

div.resource button .glyphicon.glyphicon-unchecked {
  font-size: 20px;
  color: #036;
}

div.resource .fa.fa-institution {
  font-size: 12px;
}

div.resource p {
  margin: 5px 0;
}

div.resourceview-resources div.expansion-handle,
div.resource div.expansion-handle {
  margin: 0 0 5px 0;
  cursor: pointer;
}


/*** search results panel ***/

div.panel {
  box-shadow: none !important;
  margin-bottom: 0;
}

div.modal-dialog {
  width: auto;
  max-width: 1024px;
}

div.panel-heading {
  /* border: 1px solid #eee; */
  /* border-radius: 4px; */
  cursor: pointer;
}

div.panel-title {
  font-size: 16px;
}

.zoomResultButton {
  border: 1px solid transparent;
}

div.panel:hover .zoomResultButton {
  color: white;
  background-color: #036;
  border: 1px solid black;
}

div.panel-title span.institutionName {
  font-size: 12px;
  font-weight: 300;
  color: #888;
}

.modal-title span.institutionName {
  font-size: 14px;
  font-weight: 300;
  color: #888;
}

.panel-body span {
  color: #222;
}

.panel-body span.keyword {
  font-weight: bold;
  font-size: 12px;
  color: #000;
  /* background-color: #00406F; */
  /*blue*/
  /* background-color: rgb(223, 184, 155); /*gold */
  background-color: rgb(230, 242, 254);
  /*sky blue*/
  /* color: #00406F; */
  /* color: rgb(215, 180, 105); */
  font-weight: bold;
  padding: .15em .5em .25em;
  border-radius: .2em;
  /* display: inline; */
}

.panel-body td.keyword {
  color: #036;
  font-weight: bold;
  font-weight: bold;
}

.panel-body .hitrow .hit {
  position: relative;
}

.panel-body .hitrow .hit::before {
  position: absolute;
  font-size: 0.6em;
  top: 0;
  left: 0;
}

.panel-body .hitrow .hit:hover::after {
  position: absolute;
  font-size: 0.6em;
  top: 2rem;
  left: 0;
  background-color: whitesmoke;
  outline: 1px solid black;
  padding: 2px;
  border-radius: 2px;
  z-index: 1;
}

.panel-body .hitrow .hit[class*="hit-lex-"] {
  border-bottom: 2px solid rgba(220, 220, 220, 0.25);
}

.panel-body .hitrow .hit.hit-lex-lemma {
  border-bottom: 2px solid rgba(137, 43, 226, 0.25);
  padding-left: 2.5em;
}
.panel-body .hitrow .hit.hit-lex-lemma::before {
  content: "Lemma";
}

.panel-body .hitrow .hit.hit-lex-pos {
  border-bottom: 2px solid rgba(0, 128, 0, 0.25);
  padding-left: 1.5em;
}
.panel-body .hitrow .hit.hit-lex-pos::before {
  content: "POS";
}
.panel-body .hitrow .hit.hit-lex-pos:hover::after {
  content: "Part-of-Speech Tag"
}

.panel-body .hitrow .hit.hit-lex-def {
  border-bottom: 2px solid rgba(165, 16, 16, 0.25);
  padding-left: 1.3em;
}
.panel-body .hitrow .hit.hit-lex-def::before,
.panel-body .hitrow .hit.hit-lex-definition::before {
  content: "Def.";
}
.panel-body .hitrow .hit.hit-lex-def:hover::after,
.panel-body .hitrow .hit.hit-lex-definition:hover::after {
  content: "Definition, Description, Senses, etc."
}

.panel-body .hitrow .hit.hit-lex-lemma-alternatives {
  border-bottom: 2px solid rgba(131, 51, 163, 0.25);
  padding-left: 1.3em;
}
.panel-body .hitrow .hit.hit-lex-lemma-alternatives::before {
  content: "Alt.";
}
.panel-body .hitrow .hit.hit-lex-lemma-alternatives:hover::after {
  content: "Alternative Lemma Forms"
}

.panel-body .hitrow .hit.hit-lex-sentiment {
  border-bottom: 2px solid rgba(216, 94, 155, 0.25);
  padding-left: 3em;
}
.panel-body .hitrow .hit.hit-lex-sentiment::before {
  content: "Sentiment";
}
.panel-body .hitrow .hit.hit-lex-sentiment:hover::after {
  content: "Sentiment polarity, score, etc."
}

.panel-body .hitrow .hit.hit-lex-translation {
  border-bottom: 2px solid rgba(51, 163, 129, 0.25);
  padding-left: 3.2em;
}
.panel-body .hitrow .hit.hit-lex-translation::before {
  content: "Translation";
}

.panel-body .hitrow .hit.hit-lex-example {
  border-bottom: 2px solid rgba(167, 197, 85, 0.25);
  padding-left: 2.5em;
}
.panel-body .hitrow .hit.hit-lex-example::before {
  content: "Example";
}

.panel-body .hitrow .hit.hit-lex-baseform {
  border-bottom: 2px solid rgba(27, 185, 190, 0.25);
  padding-left: 2.8em;
}
.panel-body .hitrow .hit.hit-lex-baseform::before {
  content: "Baseform";
}

.bs-callout {
  padding: 0 20px;
  margin: 0 0 20px 0;
  border: 1px solid #ddd;
  border-left: 5px solid #00406F;
  /*blue*/
  border-radius: 4px;
}

.bs-callout .panel-heading {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 10px 15px 4px;
}

.bs-callout .panel-title {
  color: #B27000;
}

.panel-body {
  border-top: 1px solid #ddd;
}

.collapse.in {
  /*opacity: 0.1;*/
  transition: all .5s ease-in;
}


table.table {
  margin-bottom: 0;
}

td {
  border: none !important;
}

.panel-body div.resourceResultsADV {
  overflow-x: auto;
}

.panel-body .table-hover>tbody>tr.hitrow:hover {
  background-color: #F5F5F5;
}

.panel-body div>p.hitrow {
  margin: 0;
  padding: 5px 0;
}

.panel-body div>p.hitrow:hover {
  background-color: #F5F5F5;
}

.panel-body .table.advanced-layers>tbody>tr.hitrow-sep {
  background-color: #00336620;
}

.panel-body .table.advanced-layers>tbody>tr.hitrow-sep>td {
  padding-top: 0 !important;
}

div.popover {
  max-width: 552px;
}

/*** zoomed result ***/

.modal-body .resourceDescription {
  padding-left: 15px;
}

.modal-body .resourceDescription p {
  margin: 4px 0;
}

.modal-body .resourceResults {
  padding: 15px;
  border: 1px solid #ddd;
  border-left: 5px solid #036;
  border-radius: 4px;
  overflow-x: auto;
}


/*** transitions css ***/

.fade-enter {
  opacity: 0.01;
  transition: all .2s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: all .2s ease-in;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
}


.error-enter {
  opacity: 0.01;
  transition: all .2s ease-in;
}

.error-enter.error-enter-active {
  opacity: 1;
}

.error-exit {
  opacity: 1;
  transition: all .2s ease-in;
}

.error-exit.error-exit-active {
  opacity: 0.01;
}


.display-enter {
  opacity: 0.01;
  transition: all 2s ease-in;
}

.display-enter.display-enter-active {
  opacity: 1;
}

.display-exit {
  opacity: 1;
  transition: all 2s ease-in;
}

.display-exit.display-exit-active {
  opacity: 0.01;
}

/*** BOTTOM  ***/

div.progress {
  margin-bottom: 0;
  height: 6px;
}

/*** BETA ***/

.beta-tag {
  position: absolute;
  /* color: rgba(17, 65, 111, 0.1); */
  color: rgba(128, 107, 82, 0.2);
  margin: 64px 0 0 0;
  font-size: 36px;
  font-weight: bold;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

/*** file uploads ***/

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}


/*** statistics ***/
.statistics li,
.statistics div {
  font-family: Consolas, monaco, courier, monospace;
}

.statistics .alert-warning.legacy {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #A00000;
}