<!DOCTYPE html>
<html>

<head>
    <title>Text+ FCS Aggregator – Content Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="lib/bootstrap.min.css" rel="stylesheet">
    <link href="lib/font-awesome.min.css" rel="stylesheet">
    <link href="css/CLARIN.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/adv.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="img/icon-services-fcs-32x32.png">

    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-sham.js"></script>
    <![endif]-->

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #main-container {
            min-height: 100%;
            position: relative;
        }

        #body {
            padding-bottom: 64px;
            /* Height of the footer */
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 64px;
            /* Height of the footer */
        }
    </style>
</head>

<body>
    <noscript>
        <p>The Text+ FCS Aggregator requires JavaScript to be enabled!</p>
    </noscript>

    <div id="main-container">
        <div id="body"></div>
        <div id="footer"></div>
    </div>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/react.production.min.js"></script>
    <script src="lib/react-dom.production.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

    <script type="text/javascript">
        window.MyAggregator = window.MyAggregator || {};
        window.MyAggregator.showSearchResultLink = {{showSearchResultLink}};
        {{#validatorUrl}}
        window.MyAggregator.validatorUrl = "{{validatorUrl}}";
        {{/validatorUrl}}
        {{^validatorUrl}}
        window.MyAggregator.validatorUrl = undefined;
        {{/validatorUrl}}
    </script>

    {{#piwikConfig}}
    {{#enabled}}
    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        window.MyAggregator.trackingURL = "{{{url}}}";
        if (location.hostname !== "localhost") {
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(["trackPageView"]);
            _paq.push(["enableLinkTracking"]);
            _paq.push(["setDomains", [
                {{#setDomains}}
                    "{{{.}}}",
                {{/setDomains}}
            ]]);
            (function () {
                var u = "{{{url}}}";
                _paq.push(["setTrackerUrl", u + "matomo.php"]);
                _paq.push(["setSiteId", {{siteID}}]);
                var d = document, g = d.createElement("script"), s = d.getElementsByTagName("script")[0];
                g.type = "text/javascript"; g.async = true; g.defer = true; g.src = u + "matomo.js"; s.parentNode.insertBefore(g, s);
            })();
        }
    </script>
    <noscript>
        <p>
            <img src="{{{url}}}matomo.php?idsite={{siteID}}" style="border:0;" alt="" />
        </p>
    </noscript>
    <!-- End Matomo Code -->
    {{/enabled}}
    {{^enabled}}
    <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        window.MyAggregator.trackingURL = undefined;
    </script>
    {{/enabled}}
    {{/piwikConfig}}
</body>

</html>